.resume-item{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    border-left: 1px solid #f26b38;
    .date{
        position: relative;
        top: -10px;
        color: #f26b38;
        border:1px solid #f26b38;
        display: inline-block;
        padding: 2px 10px;
        &::before {
            content: "";
            height: 1px;
            width: 25px;
            background-color: #f26b38;
            position: absolute;
            left: -26px;
            top: 9px;
        }
    }
    &.active {
        border-left: 1px solid transparent;
    } 
}