@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&display=swap');
.App {
  background-color: #31313a;
  margin: 0px 30px;
  position: relative;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}
.navbar-brand {
  font-size: 30px !important;
  font-weight: 500;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #fff;
}
.App-Container{
  position: relative;
  background-color: #31313a;
  color: #a2a2a6;
}
.App-Footer {
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
}
.App-Footer .copyright{
  color: #fff;
}
.App-Footer .nav .nav-item a{
  color: #fff;
}
.App-Header {
  position: fixed;
  left:0;
  top: 30px;
  width: 100%;
  z-index: 1000;
}
.navbar .navbar-nav .nav-item a{
  padding: .5rem 1.2rem;
}
.App-Header a{
  color: #fff !important;
}
.line{
  position: fixed;
  background-color: #31313a;
}
.line.top{
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
}
.line.bottom{
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
}
.line.left{
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 30px;
}
.line.right{
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 30px;
}
.strong {
  color: #f26b38;
}